# Imports

In [1]:
import pandas as pd

# Topics

## Chaining operations in Pandas

In [2]:
# Sample DataFrame
data = {'Name': ['John', 'Anna', 'Peter', 'Linda'],
        'Age': [28, 34, 45, 32],
        'Income': [50000, 60000, 80000, 75000]}
df = pd.DataFrame(data)

# Method chaining example: Filtering and sorting data
result = (
    df
    .loc[df['Age'] > 30]  # Filter rows where Age > 30
    .sort_values(by='Income', ascending=False)  # Sort by Income in descending order
)

In [3]:
result

    Name  Age  Income
2  Peter   45   80000
3  Linda   32   75000
1   Anna   34   60000

## Groupby operations in Pandas

In [4]:
data = {'Category': ['A', 'B', 'A', 'B', 'A'],
        'Value': [10, 20, 30, 40, 50]}
df = pd.DataFrame(data)

# Grouping data by 'Category' and calculating the sum of 'Value'
grouped_data = df.groupby('Category').sum()

In [5]:
grouped_data

          Value
Category
A            90
B            60

## Commanding Time Series Data with Finesse

In [7]:

# Sample time series data
date_range = pd.date_range(start='1/1/23', end='12/31/2023', freq='D')
traffic_data = pd.Series(range(len(date_range)), index=date_range)

# Resampling and frequency conversion for monthly analysis
monthly_traffic = traffic_data.resample('ME').sum()
print(monthly_traffic)

2023-01-31      465
2023-02-28     1246
2023-03-31     2294
2023-04-30     3135
2023-05-31     4185
2023-06-30     4965
2023-07-31     6076
2023-08-31     7037
2023-09-30     7725
2023-10-31     8928
2023-11-30     9555
2023-12-31    10819
Freq: ME, dtype: int64

*we resampled the data into monthly intervals using the resample function*
*having calculated the sum of traffic for each month*