# Imports

In [2]:
from icecream import ic
# from rich.console import Console
# from rich.table import Table 
import polars as pl 
from tqdm import tqdm
from functools import wraps

# Topics

## Icecream Library

In [ ]:
def foo(i):
    return i + 333

print(foo(123))     # 456
ic(foo(123))        # ic| foo(123): 456

In [25]:
# one can use decorator 
def debug(func):
    @wraps(func)
    def wrapper(*args):
        result = func(*args)
        print(f"ic | {func.__name__}{args} : {result}")
        return result
    return wrapper

In [26]:
@debug
def foo(i):
    return i + 333

foo(123)

ic | foo(123,) : 456

456

## Rich Library

In [ ]:
table = Table(title="Star Wars Movies")
table.add_column("Released", justify="right", style="cyan", no_wrap=True)
table.add_column("Title", style="magenta")
table.add_column("Box Office", justify="right", style="green")
table.add_row("Dec 20, 2019", "Star Wars: The Rise of Skywalker", "$952,110,690")
table.add_row("May 25, 2018", "Solo: A Star Wars Story", "$393,151,347")
table.add_row("Dec 15, 2017", "Star Wars Ep. V111: The Last Jedi", "$1,332,539,889")
table.add_row("Dec 16, 2016", "Rogue One: A Star Wars Story", "$1,332,439,889")
console = Console()
console.print(table)

## Polars

In [ ]:
data = {'name': ['Alice', 'Bob', 'Charlie'],
        'age': [25, 30, 35],
        'salary': [50000, 60000, 70000]}
df = pl.DataFrame(data)
result = df.lazy().filter(pl.col("age") > 25).select(["name", "age", "salary"])
final_df = result.collect()
print(final_df)

## TQDM

In [27]:
for i in tqdm(range(500000000)):
    pass

100%|██████████| 500000000/500000000 [01:27<00:00, 5730786.58it/s]