# Imports

In [2]:
import pandas as pd
import numpy as np

this notebook is powered by these websites : 
- https://www.machinelearningplus.com/python/101-pandas-exercises-python/
- https://freedium.cfd/https://python.plainenglish.io/mastering-pandas-pivot-table-cd6c8e745077

## Check the version

In [3]:
print(pd.__version__)
print(pd.show_versions(as_json=True))

2.2.3
{
  "system": {
    "commit": "0691c5cf90477d3503834d983f69350f250a6ff7",
    "python": "3.13.0",
    "python-bits": 64,
    "OS": "Windows",
    "OS-release": "11",
    "Version": "10.0.22631",
    "machine": "AMD64",
    "processor": "Intel64 Family 6 Model 142 Stepping 12, GenuineIntel",
    "byteorder": "little",
    "LC_ALL": null,
    "LANG": null,
    "LOCALE": {
      "language-code": "English_United States",
      "encoding": "1252"
    }
  },
  "dependencies": {
    "pandas": "2.2.3",
    "numpy": "2.1.2",
    "pytz": "2024.2",
    "dateutil": "2.9.0.post0",
    "pip": "24.3.1",
    "Cython": null,
    "sphinx": null,
    "IPython": "8.29.0",
    "adbc-driver-postgresql": null,
    "adbc-driver-sqlite": null,
    "bs4": "4.12.3",
    "blosc": null,
    "bottleneck": null,
    "dataframe-api-compat": null,
    "fastparquet": null,
    "fsspec": "2024.10.0",
    "html5lib": null,
    "hypothesis": null,
    "gcsfs": null,
    "jinja2": null,
    "lxml.etree": "5.3.0",
    "matplotlib": "3.9.2",
    "numba": null,
    "numexpr": null,
    "odfpy": null,
    "openpyxl": "3.1.5",
    "pandas_gbq": null,
    "psycopg2": null,
    "pymysql": "1.4.6",
    "pyarrow": null,
    "pyreadstat": null,
    "pytest": null,
    "python-calamine": null,
    "pyxlsb": null,
    "s3fs": null,
    "scipy": "1.14.1",
    "sqlalchemy": "2.0.36",
    "tables": null,
    "tabulate": null,
    "xarray": null,
    "xlrd": null,
    "xlsxwriter": null,
    "zstandard": null,
    "tzdata": "2024.2",
    "qtpy": null,
    "pyqt5": null
  }
}None

## Create a Series from list , numpy array and dict

In [4]:
mylist = list('abcedfghijklmnopqrstuvwxyz')
myarr = np.arange(26)
mydict = dict(zip(mylist, myarr))

# Solution
ser1 = pd.Series(mylist)
print(ser1.head())
ser2 = pd.Series(myarr)
print(ser2.head())
ser3 = pd.Series(mydict)
print(ser3.head())

0    a
1    b
2    c
3    e
4    d
dtype: object
0    0
1    1
2    2
3    3
4    4
dtype: int64
a    0
b    1
c    2
e    3
d    4
dtype: int64

## Convert Index to Column

In [5]:
mylist = list('abcedfghijklmnopqrstuvwxyz')
myarr = np.arange(26)
mydict = dict(zip(mylist, myarr))
ser = pd.Series(mydict)

# Solution
df = ser.to_frame().reset_index()
print(df.head())

  index  0
0     a  0
1     b  1
2     c  2
3     e  3
4     d  4

## Concat Series to DF

In [7]:
ser1 = pd.Series(list('abcedfghijklmnopqrstuvwxyz'))
ser2 = pd.Series(np.arange(26))

# Solution 1
df = pd.concat([ser1, ser2], axis=1)
print(df.head())
# Solution 2
df = pd.DataFrame({'col1': ser1, 'col2': ser2})
print(df.head())

   0  1
0  a  0
1  b  1
2  c  2
3  e  3
4  d  4
  col1  col2
0    a     0
1    b     1
2    c     2
3    e     3
4    d     4

## How to get the items of series A not present in series B?

In [8]:
serA = pd.Series([1, 2, 3, 4, 5])
serB = pd.Series([4, 5, 6, 7, 8])

print(serA[~serA.isin(serB)])

0    1
1    2
2    3
dtype: int64

## How to get the items not common to both series A and series B?

In [10]:
serA = pd.Series([1, 2, 3, 4, 5])
serB = pd.Series([4, 5, 6, 7, 8])

unionAB = pd.Series(np.union1d(serA, serB))  # union
intersectAB = pd.Series(np.intersect1d(serA, serB))  # intersect
notcommonAB = unionAB[~unionAB.isin(intersectAB)]

print(notcommonAB)

0    1
1    2
2    3
5    6
6    7
7    8
dtype: int64

## Get top two

In [22]:
# Input
np.random.RandomState(100)
ser = pd.Series(np.random.randint(1, 5, 12))
print(ser)

# Solution
print("Value Counts: ")
print(ser.value_counts())

print("Value Counts Index : ")
print(ser.value_counts().index)

print("Top 2 Counts Values : ")
ser.value_counts().index[:2]

0     2
1     4
2     2
3     1
4     1
5     4
6     1
7     1
8     1
9     4
10    2
11    4
dtype: int32
Value Counts:
1    5
4    4
2    3
Name: count, dtype: int64
Value Counts Index :
Index([1, 4, 2], dtype='int32')
Top 2 Counts Values :

Index([1, 4], dtype='int32')

## Find the indices of numbers that are multiples of 3

In [24]:
ser = pd.Series(np.random.randint(1, 10, 7))

# Solution
print(ser)
np.argwhere(ser % 3==0).squeeze()

0    4
1    2
2    9
3    9
4    2
5    6
6    5
dtype: int32

array([2, 3, 5])

for more details check the first link for more wrangling operations to be done

## What is a Pivot Table?
A pivot table is a data summarization tool used to reorganize, sort, group, count, total, or average data stored in a database or spreadsheet. It allows you to transform columns into rows and rows into columns, creating a new table that displays the summarized data in a more digestible format.

## Key features of pivot tables include:

- Data Aggregation: Pivot tables can quickly summarize large amounts of data, performing calculations like sum, average, count, etc.
- Dynamic Layout: They allow for easy rearrangement of data fields, enabling different perspectives on the same dataset.
- Filtering: Users can filter out specific data points to focus on particular subsets of the data.
- Grouping: Related data can be grouped together, revealing hierarchies and relationships within the dataset.

The notebook has been completed elsewhere : 
Here's the directory of the pivot_table notebook : 
[Pivot Table Notebook](../Colab%20Notebooks/Mastering%20Pivot%20Tables%20+%20Profiling.ipynb)